
.closebtn{
    position: absolute;
    bottom: 10px;
    right: 20px;
    size: 10px;
    
}

.total{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.purchaseBtn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.closingBtn {
    margin-left: 60%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}