.control {
    margin: 1rem 0;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .control input {
    display: block;
    margin: auto;
    width: 50%;
    align-self: center;
    font: inherit;
    padding: 0.2rem;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  
  .control input:focus{
    outline: auto;
    /* border-color: #89f54b;
    border: 2px solid; */
  }
  .card {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    height: 50%;
    width: 50%;
    
  }
  .btn {
    margin-bottom: 5px auto;
    
  }